.add-student {
    border: 1px solid rgba(10, 11, 41, 0.35);
    border-radius: 10px;
    padding: 40px 20px 25px;
    background-color: white;
}
.add-student p {
    font-size: 17px;
    text-align: justify;
}
.add-student input {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0px;
}
.add-student button {
    width: 100%;
}

.studen-panel {
    border: 1px solid rgba(10, 11, 41, 0.35);
    border-radius: 10px;
    padding: 40px 20px 25px;
    background-color: rgba(36,162,189,.12);
}
.card-studen {
    border: 1px solid rgba(10, 11, 41, 0.35);
    border-radius: 10px;
    background-color: white;
    padding: 10px 10px 0px 10px;
}
.card-studen .seccion-name {
    border-bottom: 1px solid #ced4da;
}
.card-studen .seccion-name i {
    color: green;;
}
.card-studen p{
    font-size: 13px;
}
