:root {
    --primary: #2d529f;
    --secondary: #007af3;
    --white: #fff;
    --text-font: 16px;
    --text-font-lg: 18px;
    --text-font-sm: 12px;
    --text-type: font-semibold;
}

body {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.navbar {
    background: var(--white);
    display: flex;
    /* justify-content: space-between !important; */
    /* align-items: center !important; */
    padding: 5px 10%;
    align-items: flex-end;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); */
    /* margin-bottom: 1em; */
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
/*
.navbar-brand{
    margin: 0px 200px 0px 0px !important;
} */
.nav-link {
    color: var(--primary) !important;
    margin: 0px 0px 0px 30px;
    font-family: var(--text-type);
    font-size: var(--text-font);
}

.nav-item .nav-link::after {
    content: "";
    height: 3px;
    width: 0;
    left: 50%;
    background-color: var(--white);
    display: block;
    transition: 500ms ease-out;
}

.nav-item .nav-link:hover::after {
    width: 100% !important;
}

.perfil {
    padding-left: 5%;
    font-size: var(--text-font);
    font-family: font-semibold;
}

ul li p {
    color: var(--secondary) !important;
}



.footer{
    background: var(--primary) !important;
    font-weight: bold;
    margin-top: auto;
}


.btn-primario{
    background-color: var(--white);
    color: var(--primary);
    border-radius: 40px;
    font-family: var(--text-type);
    border: 1px solid var(--secondary);
}

.btn-primario i{
    color: var(--primary);
}

.btn-primario:hover{
    background-color: var(--primary);
    color: var(--white);
    font-weight: lighter;
}

.btn-primario:hover i{
    color: var(--white);
}

.btn-primary{
    background-color: var(--secondary);
    color: white;
    border-radius: 40px;
    font-family: var(--text-type);
    border: 1px solid var(--secondary);
    font-size: smaller;
}

.btn-danger{
    background-color: red;
    color: white;
    border-radius: 40px;
    font-family: var(--text-type);
    border: 1px solid red;
    font-size: smaller;
}


.btn-success{
    background-color: green;
    color: white;
    border-radius: 40px;
    font-family: var(--text-type);
    border: 1px solid green;
}
.btn-cancel{
    background-color: var(--white);
    color: rgb(108,117,125);
    border-radius: 40px;
    font-family: var(--text-type);
    border: 1px solid rgb(108,117,125);
}

.btn-cancel i{
    color: rgb(108,117,125);
}

.btn-cancel:hover{
    background-color: rgb(97, 104, 110);
    color: var(--white);
}

.btn-cancel:hover i{
    
    color: var(--white);
}


.btn-card{
    margin-top: 2px;
    color: var(--primary);
    font-weight: normal;
    font-family: var(--text-type);
    border-radius: 40px;
    width: 160px;
    background-color: var(--white);
    border: 1px solid var(--primary);
}

a .btn-card {
    margin-top: 2px;
    color: var(--primary);
    font-weight: normal;
    font-family: var(--text-type);
    border-radius: 40px;
    width: 120px;
    background-color: var(--white);
    border: 1px solid var(--primary);
    text-decoration: none;
}


.btn-card:hover{
    color: var(--white);
    font-weight: bold;
    border-radius: 40px;
    width: 160px;
    font-family: var(--text-type);
    background-color: var(--primary);
}

.card-text{
    color: var(--primary) !important;
    font-size: var(--text-font-lg);
    font-family: var(--text-type);
}

.tit > p {
    color: var(--secondary) !important;
}

.session_details {
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: auto;
}

@media (max-width: 1024px) {
    .session_details {
        width: 95%;
    }
}

.embed-container {
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    position: absolute;
}

.liscategory {
    border-radius: 5px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    border: 1px solid #eaeaea;
    
    padding: 10px;
}
.liscategory ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.liscategory li{
    border-bottom: 1px solid #e7e7e7;
}
.liscategory a {
    display: flex;
    position: relative;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 40px; 
    text-decoration: none;
    color: #4f4f4f;
}

.liscategory a:hover {
    color: var(--primary);
    font-weight: 700;
  }

  
/**Interfaz tareas*/
.card-tarea{
    border-radius: 15px;
    padding: 15px;
    border-color: rgb(189, 189, 189);
}

.card-tarea h1,h2,h3,h4{
    font-family: var(--text-type);
}

.recurso{
    text-decoration: none;
    color: var(--secondary);
    font-size: var(--text-font);
}

.recurso:hover{
    text-decoration: none;
    color: var(--primary);
}

.tit{
    border-bottom: 1px solid rgb(189, 189, 189);
    width: 100%;
    padding: 0;
    margin: 0;
}

.tit2{
    padding: 2px 12px;
}

.tabla{
    font-family: var(--text-type);
    margin-bottom: 25px;
}
.tabla tbody tr:nth-child(1) {
    background-color: rgb(207, 239, 207);
}
.tabla tbody tr:nth-child(2) th:first-child,
.tabla tbody tr:nth-child(4) th:first-child {
    background-color:white;
}

.tabla tbody tr th{
    border-bottom: 1px solid rgb(240, 238, 240);
    cursor: pointer;
    padding: 15px;
    text-align: start;
}

.tabla tbody tr th:nth-child(1){
    width: 30%;
    font-family: var(--text-type);
    font-size: 16px;
    background-color: rgb(251, 253,253);
}

.tabla tbody tr th:nth-child(2){
    font-family: var(--text-type);
    font-size: 14px;
}

.save-file{
    width: 430px;
    padding: 30px;
    background: white;
    border-radius: 5px;
}

.save-file header{
    color: black;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.save-file form{
    height: 167px;
    display: flex;
    margin: 30px 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed var(--secondary);
}

form :where(i,p){
    color: var(--primary);
}

form i{
    font-size: 50px;
}

form p{
    font-size: 16px;
    margin-top: 15px;
}

section .row i{
    font-size: 30px;
    color: #6990F2;
}

section .row content{
    width: 100%;
    margin-left: 15px;
}

section .details span{
    font-size: 14px;
}

.progress-area .row .content{
    width: 100%;
    margin-left: 15px;
}


/* 251,251,255 */


/*Subir Archivo*/

.drop-zone {
    width: 700px;
    height: 300px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--text-type);
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed var(--secondary);
    flex-direction: column;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }


.lista-val{
    list-style: none;
    font-size: smaller;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

@media (max-width: 1024px) {
    .drop-zone {
        width: 98%;
    }
}

.form-tarea{
    display: flex;
    flex-direction: column;
    font-family: var(--text-type);
    font-size: 16px;
    margin-left: 12px;
}


.form-tarea label{
    margin-bottom: 15px;
}


.form-tarea label span{
    text-align: left;
}


.form-input{
    width: 43%;
    height: 33px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    outline: none;
    position: absolute;
    margin-left: 60px;
     /*Nos sirve para quitar el borde generado cuando damos click a un input*/
}
.form-input-fecha{
    width: 43%;
    height: 33px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    outline: none;
    position: absolute;
    margin-left: 20px;
}

.sesiones{
    display: flex;
    flex-direction: column;
}

.input-date{
    width: 100%;
    height: 7vh;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0;
    /* background-color: rgb(207, 239, 207); */
    font-family: var(--text-type);
    font-size: var(--text-font);
}

.input-date:hover{
    background-color: rgb(236, 236, 236);
}
#first-input-date{
    background-color: white;
    padding: 0;
    margin: 0;
}
.btn-circle{
    border-radius: 50%;
    background-color: var(--secondary);
}
.btn-circle:hover{
    border-radius: 50%;
    background-color: var(--primary);
}

.tab-tareas th{
    background-color: var(--primary);
    color: white;
    border: none;
}

.tab-tareas tr{
    border-bottom: 1px solid #cccccc;
}

.cabecera-modal{
    background-color: var(--secondary);
}