:root{
    --primary:#2d529f;
    --secondary:#007AF3;
    --white:#fff;
    --text-font: 16px;
    --text-font-lg: 18px;
    --text-font-sm: 12px;
    --text-type:font-semibold;
}

body{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    margin-top: auto;
}

.navbar {
    background: var(--primary);
    display: flex;
    /* justify-content: space-between !important; */
    /* align-items: center !important; */
    padding: 5px 10%;
    align-items: flex-end;
    margin-bottom: 1em;

}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
/* 
.navbar-brand{
    margin: 0px 200px 0px 0px !important;
} */
 .nav-link{
    color:var(--white) !important;
    margin: 0px 0px 0px 30px;
    font-family: var(--text-type);
    font-size: var(--text-font) ;
} 

.nav-item .nav-link::after{
    content: "" ;
    height: 3px ;
    width: 0 ;
    left: 50%;
    background-color: var(--white) ;
    display: block ;
    transition: 500ms ease-out ;
}

.nav-item .nav-link:hover::after{
    width: 100% !important;
}

.perfil{
    padding-left: 5%;
    font-size: var(--text-font);
    font-family: font-semibold;
}

ul li p{
    color: var(--secondary)  !important;
}

.footer{
    background: var(--primary) !important;
    font-weight: bold;
}

.btn-primario{
    background-color: var(--secondary);
    color: var(--white);
}

.btn-primario:hover{
    background-color: var(--primary);
    color: var(--white);
    font-weight: lighter;
}

.btn-card{
    margin-top: 2px;
    color: var(--primary);
    font-weight: normal;
    font-family: var(--text-type);
    border-radius: 40px;
    width: 120px;
    background-color: var(--white);
    border: 1px solid var(--primary);
}

a .btn-card{
    margin-top: 2px;
    color: var(--primary);
    font-weight: normal;
    font-family: var(--text-type);
    border-radius: 40px;
    width: 120px;
    background-color: var(--white);
    border: 1px solid var(--primary);
    text-decoration: none;
}

.btn-card:hover{
    color: var(--white);
    font-weight: bold;
    border-radius: 40px;
    width: 120px;
    font-family: var(--text-type);
    background-color: var(--primary);
}

.card-text{
    color: var(--primary) !important;
    font-size: var(--text-font-lg);
    font-family: var(--text-type);
}

.tit >p{
    color: var(--secondary) !important;
}


.session_details{
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: auto;
}

@media (max-width: 1024px) {
    .session_details{
        width: 95%;
    }
}


.embed-container{
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    position: absolute;
}